<div class="whole">
<div class="container">
<h1>ADMIN LOGIN</h1>
<form #adminlogin="ngForm" (ngSubmit)="adminfn()">
    <div class="formin">
      <label class="inlabel">Email</label>
      <input type="email" class="incontrol" id="email" placeholder="Email" [(ngModel)]="adminloginform.email"  required maxlength="32" [pattern]="emailregex" name="mail" #mail="ngModel" [ngClass]="{error:mail.errors && mail.touched}">
      <div *ngIf="mail.errors && mail.touched" >
        <small *ngIf="mail.errors['required']"class="errormsg">Enter the mail</small>
        <small *ngIf="mail.errors['pattern']"class="errormsg">Enter the valid mail</small>

      </div>
    </div>

    <div class="formin">
      <label class="inlabel">Password</label>
      <input type="password" class="incontrol" id="password" placeholder="password" [(ngModel)]="adminloginform.password" name="password" #password="ngModel" required minlength="8" [pattern]="passwordregex" maxlength="12" >
      <div *ngIf="password.errors && password.touched" >
        <small *ngIf="password.errors['required']"class="errormsg">Enter the Password</small>
        <small *ngIf="password.errors['minlength'] && password.errors['maxlength']" class="errormsg">Password should be min 8 and max 12 character</small>

      </div>
    </div>

    <div class="formin">
      <input type="submit" class="sbtn" type="submit" [disabled]="adminlogin.invalid" value="Go">
    </div>
</form>
</div>
</div>