.btn {
    margin: 20px 30px 10px 0px;
    float: right;
}

.btn1 {
    margin: 20px 30px 10px 0px;
    float: right;
}

.mat-column-image {
    overflow-x: hidden;
}

.dummy {
    height: 400px;
    width: 600px
}

.filter {
    width: 100%
}

.classA {
    max-width: 300px !important;
}