<div *ngIf="products.like">
    <mat-card class="list">
        <img src="{{products.image}}" class="img">
        <div class="in">
            <p><b>{{products.brand}}</b> {{products.productname}} <b>₹{{products.price}}</b> </p>
            <p>"<u>Flat {{products.offer}} offer</u>"</p>
            <p>{{products.stock}} stocks left</p>
            <p><b>Size:</b>{{products.size}}</p>
        </div>
        <mat-card-actions style="margin-top: -15px;margin-bottom: -5px;">
            <div class="actiondiv">
                <mat-icon class="icon" (click)="like(products)">
                    {{likeicon}}
                </mat-icon>
    
                <mat-icon class="icon">
                    add_shopping_cart
                </mat-icon>
            </div>
        </mat-card-actions>
    </mat-card></div>   
