.matcard1 {
    border: 5px solid yellowgreen;
    border-radius: 5px 60px 100px 60px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 600px  rgb(11, 11, 11);
    background-color: rgba(22, 96, 79, 0.695);
    display: flex;
    justify-content: center;
}

.formin {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.incontrol {
    margin-top: 3px;
    width: 250px;
    margin: auto;
}

.errormsg {
    color: red
}

.inlabel {
    font-weight: bold;
    margin-left: 12%;
}

.sbtn {
    height: 30px;
    width: 60px;
    background-color: rgb(5, 35, 27);
    border: none;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    margin-left: 70%;
}

.sbtn:disabled {
    background-color: rgb(199, 225, 216);
    height: 30px;
    width: 60px;
}

.incontrol {
    height: 30px;
    border: 0px solid;
    border-radius: 5px;
}

.matcard2 {
    border: 0px solid;
    border-radius: 10px;
    max-width: 820px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(170, 14, 14, 0.1);
    background-color: rgb(63, 125, 88);
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
}
.formval {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.formcontrol {
    width: 300px;
    height: 30px;
    border: 0px solid;
    border-radius: 5px;
}

.warn {
    color: red;

}

.formlabel {
    margin: 3px 0px 3px 0px;
}

.submit {
    height: 30px;
    width: 90px;
    background-color: rgb(5, 35, 27);
    border: none;
    color: white;
    border: 0px solid;
    border-radius: 5px;
    margin-left: 80%;
    margin-top: 20px;

}

.submit:disabled {
    background-color: rgb(199, 225, 216);
}

.errormsg {
    margin-left: 12%;
}

mat-tab-group {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position-y: 48px;
}

.headtab {
    background-color: rgb(63, 125, 88);
    color: black;
    font-weight: bolder;
    border: 2px solid red;
}